.container-contenido-restaurante h2 {
    color: white;
    background-color: black;
    font-weight: bold;
    text-align: center;
    max-width: 680px; /* Igual al max-width del #root */
    width: 100%;
    margin: 0 auto;
    padding: 8px 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    
    /* Oculta palabras completas que no caben */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    /* Asegura que no haya desbordamiento horizontal */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container-contenido-restaurante p {
    font-size: clamp(1.2rem, 2.4vw, 1.5rem);
    padding-top: 20px;  
    text-align: justify;
    text-align: center;
    line-height: 1.3;
}