.form-imagenes fieldset {
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 1.8rem 0;
}

.form-imagenes legend {
    color: #000000;
    font-weight: 700;
    padding: 0 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
}

/* Imagenes */

.image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.image-preview {
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.remove-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #f97316;
    color: white;
    border: none;
    border-radius: 40px;
    width: 65px;
    height: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background: red;
}

.error-border {
    border-color: #ff0000 !important;
}